<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098537491782-u229qd9lssdkec3sdaniq3llruaqjtak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098537491782-u229qd9lssdkec3sdaniq3llruaqjtak</string>
	<key>API_KEY</key>
	<string>AIzaSyDA_Ms1rV-eiZyC8gNmFZga_a-VIfwUdJk</string>
	<key>GCM_SENDER_ID</key>
	<string>1098537491782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.CarTrackingTest</string>
	<key>PROJECT_ID</key>
	<string>car-tracking-production</string>
	<key>STORAGE_BUCKET</key>
	<string>car-tracking-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098537491782:ios:38376fff255997bff05947</string>
</dict>
</plist>